
img {
  pointer-events: none;
}

.backgroundContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: 24.375rem;
    height: 52.75rem;
    border-radius: 3.9375rem;
    background-color: black;
}

.mainContainer{
    display: flex;
    flex-direction: column;
}

.topContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: .625rem 1.25rem .4375rem 1.25rem;
}

h1{
    color: white;
    font-size: 1.25rem;
    font-family: 'Segoe UI';
    font-weight: normal;
}

.mainImageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#mainImage1{
    position: relative;
}

#mainImage2{
    position: absolute;
    top: .9375rem;
}

.playingSongContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 3.6875rem 0 3.6875rem;
}

.playingSongNameContainer{
    display: flex;
    flex-direction: column;
    gap: .3125rem;
}

#playingSongName{
    color: white;
    font-size: 1.125rem;
    font-family:'Segoe UI';
    font-weight: normal;
}

#playingSongArtist{
    color: white;
    font-size: .625rem;
    font-family:'Segoe UI';
    font-weight: lighter;
}

.playingTimerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: .75rem 1.6875rem 1rem 1.6875rem;
}

#currentTime{
    color: white;
    font-size: .75rem;
    font-family:'Segoe UI';
    font-weight: lighter;
}

#maxTime{
    color: white;
    font-size: .75rem;
    font-family:'Segoe UI';
    font-weight: lighter;
}

.playingSliderContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0 8px 0 8px;
    position: relative;
}

#slider {
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 1px;
    background: #5f5f5f;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: absolute;
}

#slider::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #31AF91;
    cursor: pointer;
}

#slider::-moz-range-thumb {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #31AF91;
    cursor: pointer;
}

#progressBar{
    width: 38.785%;
    height: 4px;
    border-radius: 1px;
    background: #31AF91;
    position:absolute;
}

.playingButtonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 33px 0 33px;
}

.playButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#playButton1{
    position: absolute;
    padding-top: 15px;
}

#playButton2{
    position: absolute;
    width: 60px;
}

#playButton3{
    position: absolute;
    width: 20px;
    padding: 5px 0 0 3px ;
}

#previousButton{
    padding-right: 35px;
}

#nextButton{
    padding-left: 35px;
}

.upNextContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin: 49px 32px 0 32px;
}

.viewAllContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#upNextText{
    color: white;
    font-size: 1.25rem;
    font-family: 'Segoe UI';
    font-weight: lighter;
}

#viewAllText{
    color: white;
    font-size: .75rem;
    font-family: 'Segoe UI';
    font-weight: lighter;
}

.nextSliderContainer{
    display: flex;
    flex-direction: column;
    height: 203px;
    overflow: hidden;
    margin: 2rem .9375rem 0 2rem;
}

.nextSliderContainerChild{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    gap: 25px;
    padding-right: 17px;
}

.nextSongContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nextSongNameContainer{
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
}

#nextSongName{
    color: white;
    opacity: 80%;
    font-size: .75rem;
    font-family: 'Segoe UI';
    font-weight: lighter;
}

#nextSongArtistName{
    color: white;
    opacity: 80%;
    font-size: .625rem;
    font-family: 'Segoe UI';
    font-weight: lighter;
}

.bottomContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 65px;
    gap: 45px;
    background-color: #232728;
    border-radius: 0 0 3.9375rem 3.9375rem;
}

.bottomButtonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.bottomButtonContainer > div{
    background-color: white;
    border-radius: 50%;
    width: 4px;
    height: 4px;
}
